- with_options(:page => @page) do |page|
  - content_for(:actions) do
    = link_to(t(".add_link"), page.new_message_template_path, :class => "button")

  - if @message_templates.empty?
    = t(".no_message_templates")
  -else
    %ol#message_template_list.list
      = render({:collection => @message_templates, :partial => "item", :as => :message_template})
    - content_for(:footer) do
      = raw(@message_templates.pager.to_html(""))